{% extends 'dashboard.html.twig' %}
{% block title %}
	{{title}}
	| Bookfolio
{% endblock %}
{% block body %}
	{% include 'dashboard/partial/menus/gallery_head.html.twig' %}
	<div class="row g-6 g-xl-9">
		<div class="col-lg-12">
			{{ form_start(form, {'attr': {'class':'needs-validation','autocomplete':'off','novalidate': 'novalidate'}}) }}
			<div class="card">
				<div class="card-body">

					<div class="row mb-8">
						<div class="col-xl-3">
							{{ form_label(form.name, 'Nom de la galerie' | trans, {'label_attr': {'class': 'fs-6 fw-bold mt-2 mb-3'}})  }}
						</div>
						<div class="col-lg-8 fv-row">
							{{ form_widget(form.name, {'attr': {'class': 'form-control form-control-solid'}}) }}
							{{ form_errors(form.name) }}
							{{ form_help(form.name) }}
						</div>
					</div>

					<div class="row mb-8">
						<div class="col-xl-3">
							{{ form_label(form.description, 'Description de la galerie (facultatif)' | trans, {'label_attr': {'class': 'fs-6 fw-bold mt-2 mb-3'}})  }}
						</div>
						<div class="col-lg-8 fv-row">
							{{ form_widget(form.description, {'attr': {'class': 'form-control form-control-solid'}}) }}
							{{ form_errors(form.description) }}
							{{ form_help(form.description) }}
						</div>
					</div>


					<div class="row mb-8">
						<div class="col-xl-3">
							<div class="col-xl-3">
								<div class="fs-6 fw-bold mt-2 mb-3">{{"Visibilité" | trans}}</div>
							</div>
						</div>
						<div class="col-lg-8">
							<div class="d-flex fw-bold h-100">
								<div class="form-check-custom form-check-solid">
									{{ form_widget(form.isActive, {'attr': {'class': 'form-check-input'}}) }}
									{{ form_errors(form.isActive) }}
									{{ form_help(form.isActive) }}
								</div>
							</div>

						</div>
					</div>


					<div class="border-bottom border-gray-300 border-bottom-dashed"></div>
					<div class="row mb-8 mt-8">
						<div class="col-xl-3">
							<div class="col-xl-8">
								<div class="fs-6 fw-bold mt-2 mb-3">{{"Confidentialité" | trans}}</div>
							</div>
						</div>
						<div class="col-lg-8">
							<div class="d-flex fw-bold h-100">
								<div class="form-check-custom form-check-solid">
									{% if app.user.hasActiveSubscription %}
										{{ form_widget(form.isProtect, {'attr': {'class': 'form-check-input'}}) }}
									{% else %}
										{{ form_widget(form.isProtect, {'attr': {'disabled':'disabled','class': 'form-check-input'}}) }}
										<div class="notice bg-light-warning rounded border-warning border border-dashed p-6 mt-6">
											<div class="d-flex flex-stack flex-grow-1 flex-wrap flex-md-nowrap">
												<div class="mb-3 mb-md-0 fw-bold">
													<div class="fs-6 text-gray-700">
														{{ "Vous devez disposer d'une formule Awesome ou Pro pour utiliser cette fonctionnalité." | trans}}
													</div>
												</div>
											</div>
										</div>

									{% endif %}

									{{ form_errors(form.isProtect) }}
									{{ form_help(form.isProtect) }}
								</div>
							</div>
						</div>
					</div>

					<div id="protectPassword">
						<div class="row mb-8">
							<div class="col-xl-3">
								{{ form_label(form.passwordHash, 'Saisissez un mot de passe' | trans, {'label_attr': {'class': 'fs-6 fw-bold mt-2 mb-3'}})  }}
							</div>
							<div class="col-lg-8 fv-row">
								{{ form_widget(form.passwordHash, {'attr': {'class': 'form-control form-control-solid'}}) }}
								{{ form_errors(form.passwordHash) }}
								{{ form_help(form.passwordHash) }}
							</div>
						</div>
					</div>
				</div>
				<div class="card-footer d-flex justify-content-end py-6">
					<button type="submit" class="btn btn-primary btn-hover-rise">{{"Enregistrer" | trans}}</button>
				</div>
			</div>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script>
		$('#addGalleryForm').attr('autocomplete', 'off');
let tagArr = document.getElementsByTagName("input");
for (let i = 0; i < tagArr.length; i++) {
tagArr[i].autocomplete = 'off';
}
$('#protectPassword').css('display', 'none');
function displayPassword() {
if ($('#gallery_form_isProtect').prop('checked')) {
$('#protectPassword').css('display', 'block');
} else {
$('#protectPassword').css('display', 'none');
}
}
	</script>
{% endblock javascripts %}
