{% extends 'portfolio/' ~ design ~'/base.html.twig' %}


{% block title %}
	Commentaires -
	{{ book.getTitle() ? book.getTitle() : book.user.getFullname() }}
{% endblock %}

{% block description %}
	Commentaires -
	{{ book.getDescription() | raw }}
	-
	{{ book.user.getFullname() }}
{% endblock %}

{% block body %}
	{% import "dashboard/partial/forms.html.twig" as forms %}
	<section id="page-header-secion" class="alter-heading">
		<div class="page-header-image parallax bg-image" style="background-image: url(assets/img/headings/heading-6.jpg); background-position: 50% 50%;"></div>
		<div class="cover page-header-cover"></div>
		<div class="container page-header-content no-padding max-width-800 text-center">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="album-title">Commentaires</h1>
				</div>
			</div>
		</div>
	</section>

	<section id="content-section" class="page page-about-me">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="content-wrap">
						<div id="blog-post-comments margin-top-0">
							<h4 class="comments-heading">{{ comments.getTotalItemCount }}
								{{ (comments.getTotalItemCount > 1) ? 'Commentaires':'Commentaire' }}
								:</h4>
							{% if comments.getTotalItemCount > 0 %}
								<ul class="media-list">
									{% for comment in comments %}
										<li class="media">
											{% if comment.user %}
												<a href="#" class="media-object pull-left bg-image" style="background-image: url('{{ comment.user.getAvatar() | imagine_filter('avatar') }}');"></a>
											{% else %}
												<a href="#" class="media-object pull-left bg-image" style="background-image: url('http://1.gravatar.com/avatar/1b30499332f42357c4bbce117209eb6a?s=70&#038;d=mm&#038;r=g');"></a>
											{% endif %}


											<div class="media-body">
												<h4 class="media-heading">
													{% if comment.user %}
														<a href="{{ path('portfolio_index', { name : comment.user.book.getName() }) }}" target="_blank">{{ comment.user.getFullname }}</a>
													{% else %}
														{{ comment.list.getAuthor }}
													{% endif %}
												</h4>
												<span class="article-time pull-left">{{ comment.list.getCreatedAt | ago }}</span>
												<p class="media-text">{{ comment.list.getContent | raw }}</p>
											</div>
										</li>
									{% endfor %}
								</ul>
								<div class="text-center">
									{{ knp_pagination_render(comments) }}
								</div>
							{% endif %}

							{{ form_start(form, {'attr': {'class':'margin-top-40 post-comment-form recaptcha-form comment-form','novalidate': 'novalidate'}}) }}
							<h4>Que pensez-vous du book de mon book ? votre avis m'intéresse !</h4>
							<p>Votre adresse email ne sera pas publiée.</p>
							<div class="row">
								<div class="col-lg-6 margin-lg-10b">
									<div class="form-group">
										{{ form_widget(form.Author, {'attr': {'class':'form-control','placeholder': "Votre nom ou prénom", 'tabindex':'1'}}
										) }}
										<div class="text-danger">
											{{ form_errors(form.Author) }}
										</div>
									</div>

								</div>
								<div class="col-lg-6 margin-lg-10b">
									<div class="form-group">
										{{ form_widget(form.location, {'attr': {'class':'form-control','placeholder': "Indiquez un lieu", 'tabindex':"2"}}
										) }}
										{{ forms.inputGoogleHideLabel(form.route,'Rue',{id:'route'}) }}
										{{ forms.inputGoogleHideLabel(form.locality,'Ville',{id:'locality'}) }}
										{{ forms.inputGoogleHideLabel(form.adminstrative_area,'Région',{id:'administrative_area_level_1'}) }}
										{{ forms.inputGoogleHideLabel(form.country,'Pays',{id:'country'}) }}
										{{ forms.inputGoogleHideLabel(form.postalCode,'Code postal',{id:'postal_code'}) }}

										<div class="text-danger">
											{{ form_errors(form.location) }}
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-6 margin-lg-10b">
									<div class="form-group">
										{{ form_widget(form.email, {'attr': {'class':'form-control','placeholder': "Votre adresse email", 'tabindex':"3"}}
										) }}
										<div class="text-danger">
											{{ form_errors(form.email) }}
										</div>
									</div>
								</div>
								<div class="col-lg-6 margin-lg-10b">
									<div class="form-group">
										{{ form_widget(form.website, {'attr': {'class':'form-control','placeholder': "URL de votre site", 'tabindex':"4"}}
										) }}
										<div class="text-danger">
											{{ form_errors(form.website) }}
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12 margin-lg-10b">
									<div class="form-group">
										{{ form_widget(form.content, {'attr': {'class':'form-control','placeholder': "Saisissez votre message", 'tabindex':"5"}}
										) }}
										<div class="text-danger">
											{{ form_errors(form.content) }}
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-lg-12 margin-lg-10b">
									<div class="form-group">
										{{ form_widget(form.recaptcha) }}
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<button type="submit" class="btn btn-primary btn-rounded-5x">Envoyer</button>
								</div>
							</div>
							{{ form_end(form) }}

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src='{{ asset('assets/js/portfolio/init_autocomplete.js') }}'></script>
	<script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyARh0uWHZeZXgSbMuJvsQ5IH5jK33VCdHY&libraries=places&callback=initAutocomplete'></script>
{% endblock %}
