{% set current_path = app.request.get('_route') %}
{% set current_path_gallery_slug = app.request.get('slug') %}

{% block sideBarManage %}
	<div class="card">
		<div class="card-body">
			<div class="text-start">
				{% if galleries %}
					<nav class="nav flex-column">
						<a class="nav-link {% if current_path == 'galleries_index' %} active {% else %} text-dark {% endif %}" {% if current_path == 'galleries_index' %} aria-disabled="false" {% else %} aria-current="page" {% endif %} href="{{ path('galleries_index') }}">
							{{"Toutes vos galeries" | trans}}
						</a>
						{% for gallery in galleries %}
							<a class="nav-link {% if current_path_gallery_slug == gallery.slug %} active {% else %} text-dark {% endif %}" {% if current_path_gallery_slug == gallery.slug %} aria-disabled="false" {% else %} aria-current="page" {% endif %} href="{{ path('galleries_show', {'slug': gallery.getSlug}) }}">
								{{ gallery.getName() }}
								{% if gallery.isProtect %}
									<span class="float-right text-danger">
										<i title="{{'Protégée par mot de passe' | trans}}" class="fe-lock"></i>
									</span>
								{% endif %}
							</a>
						{% endfor %}
						<a href="{{ path('galleries_add') }}" class="btn btn-primary-color btn-block mt-3 waves-effect waves-light">
							{{"Créer une galerie" | trans}}
						</a>
					</nav>
				{% else %}
					<h4 class="mt-0 mb-2">{{ 'Toutes vos galeries' | trans }}</h4>
					<p class="text-muted m-0">{{"Retrouvez ici la liste de vos galeries." | trans}}</p>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
