{% extends 'base_metronic.html.twig' %}
{% block title %}
	{{"Réinitialiser votre mot de passe - Book-folio.fr" | trans}}
{% endblock %}

{% block body %}
	<div class="d-flex flex-column flex-lg-row-fluid py-10">
		<div class="d-flex flex-center flex-column flex-column-fluid">
			<div class="w-lg-600px p-10 p-lg-15 mx-auto">
				{{ form_start(resetForm, {'attr': {'class':'form w-100','novalidate': 'novalidate'}}) }}
				<div class="mb-10 text-center">
					<h1 class="text-dark mb-3">{{"Réinitialisez votre mot de passe" | trans}}</h1>
					<div class="text-gray-400 fw-bold fs-4">{{"C'est bientôt fini. Tapez votre nouveau mot de passe et vous voilà de retour parmi nous !" | trans}}
						<a href="{{ path('app_login') }}" class="link-primary fw-bolder">{{"Connectez-vous ici." | trans}}</a>
					</div>
				</div>
				<div class="mb-10 fv-row" data-kt-password-meter="true">
					<div class="mb-1">
						{{ form_label(resetForm.plainPassword.first, 'Nouveau mot de passe' | trans, {'label_attr': {'class': 'form-label fw-bolder text-dark fs-6'}})  }}
						<div class="position-relative mb-3">
							{{ form_widget(resetForm.plainPassword.first, {'attr': {'placeholder':'','autocomplete':'new-password','class': 'form-control form-control-lg form-control-solid'}}) }}
							<span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2" data-kt-password-meter-control="visibility">
								<i class="bi bi-eye-slash fs-2"></i>
								<i class="bi bi-eye fs-2 d-none"></i>
							</span>
						</div>
						<div class="d-flex align-items-center mb-3" data-kt-password-meter-control="highlight">
							<div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
							<div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
							<div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
							<div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px"></div>
						</div>
					</div>

					<div class="text-muted">
						{{ form_help(resetForm.plainPassword.first) }}
						{{ form_errors(resetForm.plainPassword.first) }}
					</div>

					{{ form_label(resetForm.plainPassword.second, 'Répétez votre mot de passe' | trans, {'label_attr': {'class': 'form-label fw-bolder text-dark fs-6'}})  }}
					{{ form_widget(resetForm.plainPassword.second, {'attr': {'placeholder':'','autocomplete':'new-password','class': 'form-control form-control-lg form-control-solid'}}) }}
					{{ form_help(resetForm.plainPassword.second) }}
					{{ form_errors(resetForm.plainPassword.second) }}
				</div>

				<div class="text-center">
					<button type="submit" class="btn btn-lg btn-primary">
						{{"Réinitialiser" | trans}}
					</button>
				</div>
				{{ form_end(resetForm) }}
			</div>
		</div>
		<div class="d-flex flex-center flex-wrap fs-6 p-5 pb-0">
			<div class="d-flex flex-center fw-bold fs-6">
				<a href="{{ path('cgu') }}" class="text-muted text-hover-primary px-2" target="_blank">{{"CGU" | trans}}</a>
				<a href="{{ path('politicy') }}" class="text-muted text-hover-primary px-2" target="_blank">{{"Politique de confidentialité" | trans}}</a>
			</div>
		</div>
	</div>
{% endblock %}
