<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>
			{% block title %}
				{{ book.getTitle() }}
			{% endblock %}
		</title>
		<meta name="description" content="{% block description %} {{ book.getDescription() | raw }} {% endblock %}">
		{% if book.getKeywords() %}
			<meta name="keywords" content="{{ book.getKeywords() | raw }}">
		{% endif %}

		{% if not book.getAllowSeo() %}
			<meta name="robots" content="noindex">
			<meta name="googlebot" content="noindex">
		{% else %}
			<meta name="robots" content="index, follow">
		{% endif %}
		<meta name="referrer" content="unsafe-url">
		<meta name="apple-mobile-web-app-capable" content="yes"/>
		<link rel="icon" type="image/ico" href="{{ asset('assets/img/favicon.png') }}">
		<link rel="canonical" href="{{ absolute_url('portfolio_index', { name : book.name }) }}"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		{% block stylesheets %}
			{{ encore_entry_link_tags('tile-wide-light') }}
			<link href='https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,300' rel='stylesheet' type='text/css'>
		{% endblock %}
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
	</head>
	<body>
		<div class="content-wrapper">
			<div class="navbar navbar-default default classic full" role="navigation">
				<div class="navbar-header">
					<div class="navbar-brand">
						<a href="{{ path('portfolio_index', { name : book.name }) }}">
							<img src="{{ book.user.getAvatar() | imagine_filter('avatar') }}" srcset="{{ book.user.getAvatar() | imagine_filter('avatar') }}" alt="{{ book.user.getFullname() }}"/>
						</a>
					</div>
					<div class="nav-bars-wrapper">
						<div class="nav-bars-inner">
							<div class="nav-bars" data-toggle="collapse" data-target=".navbar-collapse">
								<span></span>
							</div>
						</div>
					</div>
				</div>

				<div class="navbar-collapse collapse">


					<ul class="nav navbar-nav sm-vertical">
						<li class="{{ (app.request.get('_route') == "portfolio_index") ? 'current':'' }}">
							<a href="{{ path('portfolio_index', { name : book.name }) }}">Accueil</a>
						</li>
						<li class="{{ (app.request.get('_route') == "portfolio_about") ? 'current':'' }}">
							<a href="{{ path('portfolio_about', { name : book.name }) }}">À propos</a>
						</li>

						<li class="{{ (galleries | length > 0) ? 'sub-menu' }} {{ (app.request.get('_route') == "portfolio_galleries" or app.request.get('_route') == "portfolio_gallery_show" ) ? 'current':'' }}">
							<a href="{{ path('portfolio_galleries', { name : book.name }) }}">Galeries
								{{ (galleries | length > 0) ? '<span class="caret"></span>' }}
							</a>
							{% if galleries %}
								<ul class="dropdown-menu">
									{% for gallery in galleries %}
										<li>
											<a href="{{ path('portfolio_gallery_show', { name : book.name, slug : gallery.list.getSlug() }) }}">{{ gallery.list.getName() }}</a>
										</li>
									{% endfor %}
								</ul>
							{% endif %}
						</li>

						{% if book.user.getVideos | length > 0 %}
							<li class="{{ (app.request.get('_route') == "portfolio_video") ? 'current':'' }}">
								<a href="{{ path('portfolio_video', { name : book.name }) }}">Vidéos</a>
							</li>
						{% endif %}

						{% if book.getAllowComments %}
							<li class="{{ (app.request.get('_route') == "portfolio_guestbook") ? 'current':'' }}">
								<a href="{{ path('portfolio_guestbook', { name : book.name }) }}">Commentaires</a>
							</li>
						{% endif %}

						{% if pages %}
							{% for page in pages %}
								<li class="{{ (app.request.get('_route') == "portfolio_page" and app.request.get('slug') == page.getSlug() ) ? 'current':'' }}">
									<a href="{{ path('portfolio_page', { name : book.name, slug : page.getSlug() }) }}">{{ page.getTitle }}</a>
								</li>
							{% endfor %}
						{% endif %}

						{% if book.showContact %}
							<li class="{{ (app.request.get('_route') == "portfolio_contact") ? 'current':'' }}">
								<a href="{{ path('portfolio_contact', { name : book.name }) }}">Contact</a>
							</li>
						{% endif %}

					</ul>
				</div>

				<div class="clearfix"></div>
				<div class="navbar-footer">
					<ul class="social">
						{% if book.user.social.getInstagram() %}
							<li>
								<a href="{{ book.user.social.getInstagram() }}" target="_blank">
									<i class="ion-social-instagram"></i>
								</a>
							</li>
						{% endif %}

						{% if book.user.social.getFacebook() %}
							<li>
								<a href="{{ book.user.social.getFacebook() }}" target="_blank">
									<i class="ion-social-facebook"></i>
								</a>
							</li>
						{% endif %}

						{% if book.user.social.getTwitter() %}
							<li>
								<a href="{{ book.user.social.getTwitter() }}" target="_blank">
									<i class="ion-social-twitter"></i>
								</a>
							</li>
						{% endif %}

						{% if book.user.social.getLinkedin() %}
							<li>
								<a href="{{ book.user.social.getLinkedin() }}" target="_blank">
									<i class="ion-social-linkedin"></i>
								</a>
							</li>
						{% endif %}

						{% if book.user.social.getTumblr() %}
							<li>
								<a href="{{ book.user.social.getTumblr() }}" target="_blank">
									<i class="ion-social-tumblr"></i>
								</a>
							</li>
						{% endif %}

						{% if book.user.social.getPinterest() %}
							<li>
								<a href="{{ book.user.social.getPinterest() }}" target="_blank">
									<i class="ion-social-pinterest"></i>
								</a>
							</li>
						{% endif %}

						{% if book.user.social.getSkype() %}
							<li>
								<a href="{{ book.user.social.getSkype() }}" target="_blank">
									<i class="ion-social-skype"></i>
								</a>
							</li>
						{% endif %}
					</ul>
					<p>
						Copyright
						{{ "now"|date("Y") }}
						<a href="{{ path('index') }}" target="_blank">Bookfolio</a><br>
						Tous droits réservés.<br>
						Book crée le
						{{ book.user.getCreatedAt() | format_datetime(locale='fr', pattern="dd MMMM YYYY") }}
						{% if book.getShowVisitorCounter %}-
							{{ book.user.getStatistics | length }}
							{{ (book.user.getStatistics | length > 1) ? 'visites':'visite'}}
						{% endif %}
						<br>
						{% if not iamFollow %}
							<a href="{{ path('portfolio_add_follow', { name : book.name }) }}">S'abonner</a>
						{% else %}
							<a href="{{ path('portfolio_remove_follow', { name : book.name }) }}">Se désabonner</a>
						{% endif %}
					</p>
				</div>

			</div>

			<div class="side-body"> {% block body %}{% endblock %}
				</div>

			</div>

			{% block javascripts %}
				{{ encore_entry_script_tags('tile-wide-light') }}
				{% if book.getCodeAnalytics() %}
					<script>
						(function (i, s, o, g, r, a, m) {
i['GoogleAnalyticsObject'] = r;
i[r] = i[r] || function () {
(i[r].q = i[r].q || []).push(arguments)
},
i[r].l = 1 * new Date();
a = s.createElement(o),
m = s.getElementsByTagName(o)[0];
a.async = 1;
a.src = g;
m.parentNode.insertBefore(a, m)
})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

ga('create', '{{ book.getCodeAnalytics() }}', 'auto');
ga('send', 'pageview');
					</script>
				{% else %}
					<script>
						(function (i, s, o, g, r, a, m) {
i['GoogleAnalyticsObject'] = r;
i[r] = i[r] || function () {
(i[r].q = i[r].q || []).push(arguments)
},
i[r].l = 1 * new Date();
a = s.createElement(o),
m = s.getElementsByTagName(o)[0];
a.async = 1;
a.src = g;
m.parentNode.insertBefore(a, m)
})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

ga('create', 'UA-79500816-1', 'auto');
ga('create', 'UA-79500816-1', {cookieDomain: '.book-folio.fr'});
ga('send', 'pageview');
					</script>
				{% endif %}

				<script type="text/javascript">
					var name = '{{ book.name }}'
				</script>

			{% endblock %}
		</body>
	</html>
