{% block notice_limit_videos %}
	<div class="notice d-flex bg-light-danger rounded border-danger border border-dashed h-lg-100 p-6 mb-10">
		<span class="svg-icon svg-icon-2tx svg-icon-danger me-4">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none">
				<rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="black"/>
				<rect x="11" y="17" width="7" height="2" rx="1" transform="rotate(-90 11 17)" fill="black"/>
				<rect x="11" y="9" width="2" height="2" rx="1" transform="rotate(-90 11 9)" fill="black"/>
			</svg>
		</span>
		<div class="d-flex flex-stack flex-grow-1 flex-wrap flex-md-nowrap">
			<div class="mb-3 mb-md-0 fw-bold">
				<div class="fs-6 text-gray-700 pe-7">
					{{"Vous avez atteint le nombre maximum de publications vidéos ce mois-ci avec votre formule actuelle." | trans}}
					<br>
					{{ 'Si vous souhaitez publier plus de vidéos, consultez %pricing%'|trans({'%pricing%': '<a href="' ~ path('pricing_all') ~ '"> ' ~ ' nos formules ici.'|trans ~ '</a>'})|raw }}
				</div>
			</div>
		</div>
	</div>
{% endblock notice_limit_videos %}

{% block notice_limit_images %}
	<div class="notice d-flex bg-light-danger rounded border-danger border border-dashed h-lg-100 p-6 mb-10">
		<span class="svg-icon svg-icon-2tx svg-icon-danger me-4">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none">
				<rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="black"/>
				<rect x="11" y="17" width="7" height="2" rx="1" transform="rotate(-90 11 17)" fill="black"/>
				<rect x="11" y="9" width="2" height="2" rx="1" transform="rotate(-90 11 9)" fill="black"/>
			</svg>
		</span>
		<div class="d-flex flex-stack flex-grow-1 flex-wrap flex-md-nowrap">
			<div class="mb-3 mb-md-0 fw-bold">
				<div class="fs-6 text-gray-700 pe-7">
					{{"Vous avez atteint le nombre maximum de publications de ce mois-ci avec votre formule actuelle." | trans}}
					{{ 'Si vous souhaitez publier de nouvelles photos, consultez %pricing%'|trans({'%pricing%': '<a href="' ~ path('pricing_all') ~ '"> ' ~ ' nos formules ici.'|trans ~ '</a>'})|raw }}
				</div>
			</div>
		</div>
	</div>
{% endblock notice_limit_images %}

{% block notice_limit_galleries %}
	<div class="notice d-flex bg-light-danger rounded border-danger border border-dashed h-lg-100 p-6 mb-10">
		<span class="svg-icon svg-icon-2tx svg-icon-danger me-4">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none">
				<rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="black"/>
				<rect x="11" y="17" width="7" height="2" rx="1" transform="rotate(-90 11 17)" fill="black"/>
				<rect x="11" y="9" width="2" height="2" rx="1" transform="rotate(-90 11 9)" fill="black"/>
			</svg>
		</span>
		<div class="d-flex flex-stack flex-grow-1 flex-wrap flex-md-nowrap">
			<div class="mb-3 mb-md-0 fw-bold">
				<div class="fs-6 text-gray-700 pe-7">
					{{"Vous avez atteint le nombre maximum de création de galeries ce mois-ci avec votre formule actuelle." | trans}}
					<br>
					{{ 'Si vous souhaitez créer de nouvelles galeries, consultez %pricing%'|trans({'%pricing%': '<a href="' ~ path('pricing_all') ~ '"> ' ~ ' nos formules ici.'|trans ~ '</a>'})|raw }}
				</div>
			</div>
		</div>
	</div>
{% endblock notice_limit_galleries %}

{% block notice_limit_annonces %}
	<div class="notice d-flex bg-light-danger rounded border-danger border border-dashed h-lg-100 p-6 mb-10">
		<span class="svg-icon svg-icon-2tx svg-icon-danger me-4">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none">
				<rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="black"/>
				<rect x="11" y="17" width="7" height="2" rx="1" transform="rotate(-90 11 17)" fill="black"/>
				<rect x="11" y="9" width="2" height="2" rx="1" transform="rotate(-90 11 9)" fill="black"/>
			</svg>
		</span>
		<div class="d-flex flex-stack flex-grow-1 flex-wrap flex-md-nowrap">
			<div class="mb-3 mb-md-0 fw-bold">
				<div class="fs-6 text-gray-700 pe-7">
					{{"Vous avez atteint le nombre maximum de publications d'annonces de ce mois-ci avec votre formule actuelle." | trans}}
					{{ 'Si vous souhaitez publier de nouvelles annonces, consultez %pricing%'|trans({'%pricing%': '<a href="' ~ path('pricing_all') ~ '"> ' ~ ' nos formules ici.'|trans ~ '</a>'})|raw }}
				</div>
			</div>
		</div>
	</div>
{% endblock notice_limit_annonces %}
