{% extends 'portfolio/' ~ design ~'/base.html.twig' %}
{% form_theme form 'foundation_5_layout.html.twig' %}


{% block title %}
	Commentaires -
	{{ book.getTitle() ? book.getTitle() : book.user.getFullname() }}
{% endblock %}

{% block description %}
	Commentaires -
	{{ book.getDescription() | raw }}
	-
	{{ book.user.getFullname() }}
{% endblock %}

{% block body %}
	{% import "dashboard/partial/forms.html.twig" as forms %}
	<div class="container inner">
		<div class="row">
			<div class="col-lg-8">
				<div id="comments" class="text-start">
					{% if comments.getTotalItemCount > 0 %}
						<h4>{{ comments.getTotalItemCount }}
							{{ (comments.getTotalItemCount > 1) ? 'Commentaires':'Commentaire' }}</h4>
						<ol id="singlecomments" class="commentlist">
							{% for comment in comments %}
								<li>
									<div class="message">
										<div class="user">

											{% if comment.user %}
												<a href="{{ path('portfolio_index', { name : comment.user.book.getName() }) }}" target="_blank">
													<img alt='{{ comment.user.getFullname }}' src='{{ comment.user.getAvatar() | imagine_filter('avatar') }}' srcset='{{ comment.user.getAvatar() | imagine_filter('avatar') }} 2x' class="avatar"/>
												</a>

											{% else %}
												<img alt='{{ comment.list.getAuthor }}' src='http://1.gravatar.com/avatar/1b30499332f42357c4bbce117209eb6a?s=70&#038;d=mm&#038;r=g' srcset='http://1.gravatar.com/avatar/1b30499332f42357c4bbce117209eb6a?s=140&amp;d=mm&amp;r=g 2x' class="avatar"/>

											{% endif %}
										</div>
										<div class="message-inner">
											<div class="info">
												<h5>
													{% if comment.user %}
														<a href="{{ path('portfolio_index', { name : comment.user.book.getName() }) }}" target="_blank">{{ comment.user.getFullname }}</a>
													{% else %}
														<a href="#">{{ comment.list.getAuthor }}</a>
													{% endif %}
												</h5>
												<div class="meta">
													<span class="date">{{ comment.list.getCreatedAt | ago }}</span>
												</div>
											</div>
											<p>{{ comment.list.getContent | raw }}</p>
										</div>
									</div>
								</li>
							{% endfor %}
						</ol>
						<div class="text-center">
							{{ knp_pagination_render(comments) }}
						</div>
					{% endif %}

					<div class="clearfix"></div>
					<div class="tm40">
						<h3>
							<strong>Que pensez-vous du book de
								{{book.user.getFirstname}}
								? Donnez votre avis !</strong>
						</h3>
						<p>Votre adresse email ne sera pas publiée.</p>
						{{ form_start(form, {'attr': {'class':'recaptcha-form comment-form','novalidate': 'novalidate'}}) }}

						<div class="row">
							<div class="col-lg-6 margin-lg-10b">
								{{ form_widget(form.Author, {'attr': {'placeholder': "Votre nom ou prénom", 'tabindex':'1'}}
								) }}
								<div class="text-danger">
									{{ form_errors(form.Author) }}
								</div>
							</div>
							<div class="col-lg-6 margin-lg-10b">
								{{ form_widget(form.location, {'attr': {'placeholder': "Indiquez un lieu", 'tabindex':"2"}}
								) }}
								{{ forms.inputGoogleHideLabel(form.route,'Rue',{id:'route'}) }}
								{{ forms.inputGoogleHideLabel(form.locality,'Ville',{id:'locality'}) }}
								{{ forms.inputGoogleHideLabel(form.adminstrative_area,'Région',{id:'administrative_area_level_1'}) }}
								{{ forms.inputGoogleHideLabel(form.country,'Pays',{id:'country'}) }}
								{{ forms.inputGoogleHideLabel(form.postalCode,'Code postal',{id:'postal_code'}) }}

								<div class="text-danger">
									{{ form_errors(form.location) }}
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-6 margin-lg-10b">
								{{ form_widget(form.email, {'attr': {'placeholder': "Votre adresse email", 'tabindex':"3"}}
								) }}
								<div class="text-danger">
									{{ form_errors(form.email) }}
								</div>
							</div>
							<div class="col-lg-6 margin-lg-10b">
								{{ form_widget(form.website, {'attr': {'placeholder': "URL de votre site", 'tabindex':"4"}}
								) }}
								<div class="text-danger">
									{{ form_errors(form.website) }}
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 margin-lg-10b">
								{{ form_widget(form.content, {'attr': {'placeholder': "Saisissez votre message", 'tabindex':"5"}}
								) }}
								<div class="text-danger">
									{{ form_errors(form.content) }}
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-lg-12 margin-lg-10b">
								{{ form_widget(form.recaptcha) }}
							</div>
						</div>

						<div class="tm20 clearfix">
							<input type="submit" class="btn" id="submit" value="Envoyer"/>
						</div>
						{{ form_end(form) }}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src='{{ asset('assets/js/portfolio/init_autocomplete.js') }}'></script>
	<script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyARh0uWHZeZXgSbMuJvsQ5IH5jK33VCdHY&libraries=places&callback=initAutocomplete'></script>
{% endblock %}
