{% extends 'dashboard.html.twig' %}
{% block title %}
	{{'Vos pages | Bookfolio' | trans }}
{% endblock %}
{% block body %}

	<div class="row">
		<div class="col-12">
			<div class="page-title-box">
				<div class="page-title-right">
					{{ wo_render_breadcrumbs({separator: '', listId: 'breadcrumbs'}) }}
				</div>
				<h4 class="page-title">{{ 'Pages'|trans }}</h4>
			</div>
		</div>
	</div>

	{% import "dashboard/partial/forms.html.twig" as forms %}

	<div class="row">
		<div class="col-lg-3">
			<div class="card p-3 text-center">
				<div class="text-start">
					<h4 class="mb-2">
						{{"Ajouter des pages" | trans}}
					</h4>
					<p class="text-muted">
						{{"Lorsque vous créez une nouvelle page, celle-ci est désactivée par défaut. Pour l'activer, sélectionner votre nouvelle page dans la liste de vos pages et metter son statut sur « Activer », puis valider !" | trans}}
					</p>
					{{ form_start(form, {'attr': {'class':'needs-validation','novalidate': 'novalidate'}}) }}
					<div class="row">
						{{ forms.input(form.title,'Titre de la page :',{class:'col-lg-12'}) }}
						{{ forms.buttonSubmit({class:'col-lg-12'}) }}
					</div>
					{{ form_end(form) }}
				</div>
			</div>
			<div class="card p-3">
				<h4 class="mb-2">
					{{"Arborescence de votre book" | trans}}
				</h4>
				<p class="text-muted">
					{{"Voici comment est organisé l'arborescence de votre book. Les nouvelles pages, seront ajoutées entre la page des commentaires et contact." | trans}}
				</p>

				<ul class="sitemap">
					<li>
						<a href="javascript: void(0);" class="text-uppercase font-weight-bold">
							<i class="mdi mdi-adjust mr-1"></i>
							{{ app.user.getLinkBook() }}</a>
						<ul>
							<li>
								<a href="javascript: void(0);">
									<b>{{"Accueil" | trans}}</b>
								</a>
							</li>
							<li>
								<a href="javascript: void(0);">
									<b>{{"À propos" | trans}}</b>
								</a>
							</li>
							<li>
								<a href="javascript: void(0);">
									<b>{{"Galeries" | trans}}</b>
								</a>
								{% if app.user.getGalleries() | length > 0 %}
									<ul>
										{% for gallery in app.user.getGalleries() %}
											<li>
												<a href="javascript: void(0);">
													{{ gallery.getName() }}
												</a>
											</li>
										{% endfor %}
									</ul>
								{% endif %}
							</li>
							<li>
								<a href="javascript: void(0);">
									<b>{{"Vidéos" | trans}}</b>
								</a>
							</li>
							<li>
								<a href="javascript: void(0);">
									<b>{{"Commentaires" | trans}}</b>
								</a>
							</li>
							{% if app.user.getPages() | length > 0 %}
								{% for page in app.user.getPages() %}
									<li>
										<a href="javascript: void(0);">
											<b>{{ page.getTitle() }}</b>
										</a>
									</li>
								{% endfor %}
							{% endif %}
							<li>
								<a href="javascript: void(0);">
									<b>
										<code>[{{"votre nouvelle page ici" | trans}}]</code>
									</b>
								</a>
							</li>
							<li>
								<a href="javascript: void(0);">
									<b>{{"Contact" | trans}}</b>
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			{% include 'dashboard/partial/_subscription.html.twig' %}
		</div>
		<div class="col-lg-9">
			<div class="card p-3">

				<div class="p-3">
					<h3 class="mb-2 mt-0">{{"Vos pages" | trans}}
						{% if pages.getTotalItemCount > 0 %}
							({{ pages.getTotalItemCount }})
						{% endif %}
					</h3>
					<hr>

					{% if pages.getTotalItemCount > 0 %}

						<div class="row">
							{% for page in pages %}
								<div class="col-lg-12">
									<div class="card m-1 shadow-none border">
										<div class="p-2">
											<div class="row align-items-center">
												<div class="col-auto">
													<div class="avatar-sm">
														<span class="avatar-title bg-light text-secondary rounded">
															<i class="mdi mdi-file-outline font-18"></i>
														</span>
													</div>
												</div>
												<div class="col pl-0 text-start">
													<a href="{{ url('pages_show', { id: page.id }) }}" class="text-muted font-weight-bold">{{ page.getTitle() }}</a>
													<p class="mb-0 font-13">
														{{"Publiée" | trans}}
														{{ page.getCreatedAt() | ago }}
													</p>
												</div>
												<div class="col pl-0 text-end">

													<a href="{{ url('pages_show', { id: page.id }) }}" class="btn btn-sm btn-white waves-effect">
														<i class="fe-eye text-dark"></i>
													</a>
													<form action="{{ url('pages_delete', { id: page.id }) }}" class="d-inline-block" method="post" onclick='return confirm("Êtes-vous sûr de vouloir supprimer cette page ?")'>
														<input type="hidden" name="token" value="{{ csrf_token('delete-page') }}"/>
														<button class="btn btn-sm btn-white waves-effect" type="submit">
															<i class="fe-trash-2"></i>
														</button>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
						<div class="navigation pagination justify-content-center">
							{{ knp_pagination_render(pages) }}
						</div>
					{% else %}
						<h4 class="mb-1">{{"Aucune page pour l'instant !" | trans}}</h4>
						<p class="mb-0">{{"Retrouvez ici les pages que vous aurez ajouter à votre book." | trans}}</p>
					{% endif %}

				</div>
			</div>

		</div>
	</div>
{% endblock %}
