{% extends 'portfolio/' ~ design ~'/base.html.twig' %}
{% form_theme form 'foundation_5_layout.html.twig' %}

{% block title %}
	{% if book.getTitle() %}
		{{ gallery.name }}
		-
		{{ book.getTitle() }}
	{% else %}
		{{ gallery.name }}
		-
		{{ book.user.getFullname() }}
	{% endif %}
{% endblock %}

{% block description %}
	{{ gallery.name }}
	-
	{{ book.getDescription() | raw }}
	-
	{{ book.user.getFullname() }}
{% endblock %}

{% block body %}
	<section id="page-header-secion">

		{% if gallery.isProtect %}
			<div class="page-header-image parallax bg-image" style="background-image: url(" {{ gallery.getLocked() }} "); background-position: 50% 50%;"></div>
		{% else %}
			{% if gallery.coverImage %}
				<div class="page-header-image parallax bg-image" style="background-image: url('{{ uploaded_asset(gallery.coverImage.imagePath) }}'); background-position: 50% 50%;"></div>
			{% else %}
				<div class="page-header-image parallax bg-image" style="background-image: url(" {{ ((gallery.getLastImage() != null) ? '' : gallery.getNoThumb() ) }} "); background-position: 50% 50%;"></div>
			{% endif %}
		{% endif %}


		<div class="cover page-header-cover"></div>
		<div class="container-fluid page-header-content no-padding">
			<div class="row">
				<div class="col-md-4">
					<h1 class="album-title">{{ gallery.name }}</h1>
					<div class="album-meta">
						<span class="photos-count">{{ gallery.getImages() | length }}
							{{ (gallery.getImages() | length > 0) ? 'publications':'publication' }}</span>
					</div>
				</div>


				<div class="col-md-4">
					<div class="album-description">
						<div class="al-desc-inner">
							<p>{{ gallery.getDescription() | raw }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section id="content-section" class="album-single">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="content-wrap">
						<div>
							{% set value = app.session.get('sessionUnlockedGalleries') %}
							{% if gallery.isProtect %}
								{% if not value %}
									{% include 'portfolio/'~ design ~'/form_password.html.twig' with {'form': form} %}
								{% else %}
									{% if gallery.getId() in value %}
										{% include 'portfolio/'~ design ~'/items.html.twig' %}
									{% else %}
										{% include 'portfolio/'~ design ~'/form_password.html.twig' with {'form': form} %}
									{% endif %}
								{% endif %}
							{% else %}
								{% include 'portfolio/'~ design ~'/items.html.twig' %}
							{% endif %}


						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
{% block javascripts %}
	<script type="text/javascript">
		var gallerySlug = '{{ gallery.getSlug() }}'
	</script>
	{{ parent() }}
{% endblock %}
