{% extends 'dashboard.html.twig' %}

{% block title %}
	{{"Tableau de board" | trans}}
	| Bookfolio
{% endblock %}

{% block body %}
	<div class="mt-2">
		<div class="row">
			<div class="col-lg-12">
				<h4 class="page-title mb-3">{{"Nouveaux books" | trans}}</h4>
				<div id="app-new-books"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8">
				<div id="app-feed-photos"></div>
			</div>
			<div class="col-lg-4">
				{% include 'dashboard/partial/_subscription.html.twig' %}
				<h4 class="page-title mb-3">{{"Suggestions pour vous" | trans}}</h4>
				<div id="app-suggest-books"></div>
				<h4 class="page-title mb-3 mt-3">{{"Dernières annonces" | trans}}</h4>
				<div id="app-last-post-annonces"></div>
				<h4 class="page-title mb-3 mt-3">{{"Actualités" | trans}}</h4>
				<div id="app-news"></div>
			</div>
		</div>
	</div>
{% endblock %}
